@using System.Web.Mvc.Html
@using Reflexica.Models

@{
  ViewBag.Title = "Reflexica UI";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="text-div">Select below of one option to process reference<br/>
  Insert Reference Text : @Html.RadioButton("Text", "1", new { id = "insert-text"})
  Drop Files                  : @Html.RadioButton("Text", "2", new { id = "drop-file" })
</div>
<br/>

<div id="input-text" hidden="True">
  @Html.TextArea("TextReference", new { @class = "text-area" })
</div>
<br/>

<div id="drop-area" hidden="True">
  Drop your files here
</div>
<br>

<div id="upload-file">
  Uploaded Files:
  <ul id="upload-result"></ul>
</div>
<br/>

<div id="output-format">
  Select Output Format
  <br/>
  @Html.DropDownList("OutputFormat", new SelectList(Enum.GetValues(typeof (OutputFormat))), "Select Output Format")
</div>
<br/>

<div id="style">
  Select Style
  <br />
  @Html.DropDownList("Styles", new SelectList(Enum.GetValues(typeof(Styles))), "Select Style")
</div>
<br/>

<div id="customer">
  Select Customer
  <br />
  @Html.DropDownList("Customers", new SelectList(Enum.GetValues(typeof(Customers))), "Select Customer")
</div>
<br/>

<div id="language">
  Select Language
  <br/>
  @Html.DropDownList("Languages", new SelectList(Enum.GetValues(typeof (Languages))), "Select Language")
</div>
<br/>

<div id="reference-processing">
  Press Submit for Reference Processing
  @using (Html.BeginForm())
  {
    <input type="submit" name="Submit" value="Submit"/>
  }
</div>

<div id="show"></div>